cache/
/env/
/.venv/
__pycache__/
*_cache/
node_modules/
src/openmfd/site/node_modules/
/*.glb
/*.prof
/settings.json
/*_demo/
/preview/
/tmp*/
/dist/
src/openmfd/site/dist/
src/openmfd/site/docs/